{% extends 'base.html' %}

{% block content%}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row col-md-12">
			<form class="form-horizontal" accept-charset="UTF-8" action={% url 'add keypair' %} method="post">
				<div class="form-group">
					<label for="name" class="col-md-2 control-label">Name</label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="inputName" name="name" placeholder="Adelen Festin">
					</div>
				</div>
				<div class="form-group">
					<label for="pin" class="col-md-2 control-label">PIN</label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="inputPin" name="pin"placeholder="1234">
					</div>
				</div>
				<div class="form-group">
					<label for="rfid_uid" class="col-md-2 control-label">RFID UID</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="inputUid" name="rfid_uid" placeholder="abcdef12">
					</div>
					<input type="button" class="btn btn-success scan-new-rfid" name="scan-new-rfid" value="Scan RFID">
				</div>
				{% csrf_token %}
				<button class="btn btn-primary col-md-2 col-md-offset-10 signup-button" type="submit">Add to Keypairs</button>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Existing Keypairs</b></h3>
					<div class="pull-right">
					</div>
				</div>
				<table id="keypairs-table" class="table table-hover tablesorter" data-sortList="[[0,0]]">
					<thead>
						<tr>
							<th class="col-md-1" data-placeholder="S..."># </th>
							<th class="col-md-3" data-placeholder="Search...">Name </th>
							<th class="col-md-2" data-placeholder="Search...">PIN </th>
							<th class="col-md-3" data-placeholder="Search...">RFID UID </th>
							<th class="col-md-3" data-placeholder="Search...">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if keypairs|length > 0 %}
							{% for keypair in keypairs %}
							<tr id="kp-{{ keypair.id }}" class="
								{% if not keypair.is_active %}
									greyed
								{% endif %}
							">
								<td>{{ keypair.id }}</td>

								<!-- Name -->
								<td ajaxUrl={% url 'edit keypair name' %} ajaxId="{{ keypair.id }}" ajaxField="name">
									<span class="editable-text">
									{{ keypair.name }}
									</span>
								</td>

								<!-- PIN -->
								<td ajaxUrl={% url 'edit keypair pin' %} ajaxId="{{ keypair.id }}" ajaxField="pin">
									<span class="editable-text">
									{% if keypair.pin %}
										{{ keypair.pin }}
									{% else %}
										- - -
									{% endif %}
									</span>
								</td>

								<!-- UID -->
								<td ajaxUrl={% url 'edit keypair uid' %} ajaxId="{{ keypair.id }}" ajaxField="uid" type="rfid">
									<span class="editable-text">
									{{ keypair.rfid_uid }}
									</span>
								</td>
								
								<!-- Actions -->
								<td id="action-{{ keypair.id }}" ajaxUrl="deletekeypair">
									{% if keypair.is_active %}
										<button class="btn btn-warning task-cancelbox deactivate-btn" id="{{ keypair.id }}">Deactivate</button>
									{% else %}
										<button class="btn btn-success task-cancelbox activate-btn" id="{{ keypair.id }}">Activate</button>
									{% endif %}
									<button class="btn btn-danger task-cancelbox delete-btn" id="{{ keypair.id }}">Delete</button>
								</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="5" style="text-align:center">No keypairs found.</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<button class="btn btn-primary col-md-2 col-md-offset-5"
	        onclick="window.location='{% url 'print pdf' %}'">Download as PDF</button>
</div>
{% endblock %}