{% extends 'base.html' %}

{% block content%}

<ul id="tabs" class="nav nav-pills nav-justified" data-tabs="tabs">
    <li><a href="#new-keypair" data-toggle="tab">New Keypair</a></li>
    <li class="active"><a href="#edit-keypairs" data-toggle="tab">View and Edit Keypairs</a></li>
</ul>

<br/>

<div class="tab-content">
	<div class="tab-pane" id="new-keypair">
		<br/>
		<div class="col-md-10 col-md-offset-1">
			<form class="form-horizontal" accept-charset="UTF-8" method="post" action="{% url 'add keypair' %}">
				<div class="form-group">
					<label for="name" class="col-md-2 control-label">Name</label>
					<div class="col-md-10" data-action="new">
						<input type="text" class="form-control"
							   id="newName" name="name" placeholder="John Smith"/>
					</div>
				</div>
				<div class="form-group">
					<label for="doors" class="col-md-2 control-label">Doors</label>
					<div class="col-md-10">
						<input type="text" class="form-control"
							   id="newDoors" name="doors" />
					</div>
				</div>

				<div class="form-group">
					<label for="pin" class="col-md-2 control-label">PIN</label>
					<div class="col-md-10" data-action="new">
						<input type="text" class="form-control"
							   id="newPin" name="pin" placeholder="Enter numeric PIN of any length"/>
					</div>
				</div>
				<div class="form-group">
					<label for="rfid_uid" class="col-md-2 control-label">RFID UID</label>
					<div class="col-md-8">
						<input type="text" class="form-control"
							   id="newRfid" name="rfid_uid" placeholder="Scan for an RFID tag or paste the UID here"/>
					</div>
					<div class="col-md-2" data-action="new">
						<input type="button" class="btn expand btn-success scan-new-rfid"
							   name="scan-new-rfid" value="Scan RFID"/>
					</div>
				</div>
				<div class="form-group">
					<label for="fingerprint_template" class="col-md-2 control-label">Fingerprint</label>
					<div class="col-md-8">
						<input type="text" class="form-control"
							   id="newFinger" name="fingerprint_template" placeholder="Scan for a finger or paste the template here" />
					</div>
					<div class="col-md-2" data-action="new">
						<input type="button" class="btn expand btn-success scan-new-fingerprint"
							   name="scan-new-fingerprint" value="Scan Finger"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button class="btn expand btn-primary signup-button" type="submit">
							Add to Keypairs
						</button>
					</div>
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<div class="tab-pane active" id="edit-keypairs">
		<div class="col-md-12">
			<table id="keypairs-table" class="table table-hover tablesorter tablesaw"
					data-tablesaw-minimap data-tablesaw-mode="togglecolumn" data-sortList="[[0,0]]">
				<thead>
					<tr>
						<!-- <th class="col-md-1" data-placeholder="Search..." data-tablesaw-priority="-1">
							#
						</th> -->
						<th class="col-md-3" data-placeholder="Search..." data-tablesaw-priority="persist">
							Name
						</th>
						<th class="col-md-4" data-placeholder="Search..." data-tablesaw-priority="2">
							Doors
						</th>
						<th class="col-md-2" data-placeholder="Search..." data-tablesaw-priority="3">
							PIN
						</th>
						<th class="col-md-3" data-placeholder="Search..." data-tablesaw-priority="4">
							RFID UID
						</th>
						<th class="col-md-3" data-placeholder="Search..." data-tablesaw-priority="5">
							Fingerprint
						</th>
						<th class="col-md-3" data-placeholder="Search..." data-tablesaw-priority="7">
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					{% for keypair in keypairs %}
					<tr class="
						{% if not keypair.is_active %}
							greyed
						{% endif %}
					">
						<!-- <td>{{ keypair.id }}</td> -->

						<!-- Name -->
						<td data-post-url="{% url 'edit keypair name' %}"
							data-action="edit" data-field="name"
							data-kid="{{ keypair.id }}" data-value="{{ keypair.name }}">

							<span class="editable-text">
								{{ keypair.name }}
							</span>
						</td>

						<!-- Doors -->
						<td
							data-action="edit" data-field="doors"
							data-kid="{{ keypair.id }}" data-value="{{ keypair.doors_json }}">
							
							<span class="editable-text">
								{% if keypair.doors_json %}
									{% for door in keypair.doors_json %}
									<li class="token-input-token-facebook">
										{{ door.name }}
									</li>
									{% endfor %}
								{% else %}
									- - -
								{% endif %}
							</span>
						</td>

						<!-- PIN -->
						<td data-post-url="{% url 'edit keypair pin' %}"
							data-action="edit" data-field="pin"
							data-kid="{{ keypair.id }}" data-value="{{ keypair.pin }}">

							<span class="editable-text">
								{% if keypair.pin %}
									{{ keypair.pin }}
								{% else %}
									- - -
								{% endif %}
							</span>
						</td>

						<!-- RFID UID -->
						<td data-post-url="{% url 'edit keypair rfid' %}"
							data-action="edit" data-field="rfid"
							data-kid="{{ keypair.id }}" data-value="{{ keypair.rfid_uid }}">

							<span class="editable-text">
								{% if keypair.rfid_uid %}
									{{ keypair.rfid_uid }}
								{% else %}
									- - -
								{% endif %}
							</span>
						</td>

						<!-- Fingerprint -->
						<td data-post-url="{% url 'edit keypair fingerprint' %}"
							data-action="edit" data-field="fingerprint"
							data-kid="{{ keypair.id }}" data-value="{{ keypair.fingerprint_template }}">

							<span class="editable-text">
								{% if keypair.fingerprint_template %}
									{{ keypair.fingerprint_template }}
								{% else %}
									- - -
								{% endif %}
							</span>
						</td>
						
						<!-- Actions -->
						<td id="action-{{ keypair.id }}">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group"
									 data-post-url="{% url 'keypair toggle active' %}"
									 data-kid="{{ keypair.id }}">

									{% if keypair.is_active %}
										<button class="btn expand btn-warning task-cancelbox deactivate-btn">
											Deactivate
										</button>
									{% else %}
										<button class="btn expand btn-success task-cancelbox activate-btn">
											Activate
										</button>
									{% endif %}
								</div>
								<div class="btn-group" role="group"
									 data-post-url="{% url 'delete keypair' %}"
									 data-kid="{{ keypair.id }}">

									<button class="btn btn-danger task-cancelbox delete-btn">
										Delete
									</button>
								</div>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<button class="btn btn-primary col-md-2 col-md-offset-5"
		        onclick="window.location='{% url 'print pdf' %}'">Download as PDF</button>
	</div>
</div>

{% endblock %}