{% extends 'base.html' %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a href="#activated-keypairs" data-toggle="tab">View and Edit Keypairs</a></li>
	<li><a href="#deactivated-keypairs" data-toggle="tab">Deactivated Keypairs</a></li>
	<li><a href="#new-keypair" data-toggle="tab">Add New Keypair</a></li>
</ul>
<input type="hidden" id="scan-url-thrice" value="{% url 'scan fingerprint 3x' %}" />

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<div id="authenticate-modal" class="invisible">
	<div class="body">
		<div class="alert alert-error modal-error-credentials" style="display:none">Incorrect credentials</div>
		<div class="credential" data-post-url="{% url 'authenticate credential' %}">
			<input class="col-md-12 modal-credential-text" id="modal-credential-text" />
			<br/><br/>
		   	Current active credential: <input type="text" id="modal-active-field" disabled="true" />
		</div>
	</div>
	<div class="footer">
		<span class="col-md-3" data-target-textbox="#modal-credential-text" data-field="pin">
			<input type="button" id="btn-modal-pin" class="btn expand btn-success modal-enter-pin" value="Enter PIN"/>
		</span>
		<span class="col-md-3" data-target-textbox="#modal-credential-text"
			  data-field="rfid" data-scan-url="{% url 'scan rfid' %}">
			<input type="button" id="btn-modal-rfid" class="btn expand btn-success scan-new" value="Scan RFID" />
		</span>
		<span class="col-md-3" data-scan-url="{% url 'scan fingerprint 1x' %}"
			  data-wait-url="{% url 'wait to remove finger' %}"
			  data-field="fingerprint" data-target-textbox="#modal-credential-text">
			<input type="button" id="btn-modal-fingerprint" class="btn expand btn-success scan-new" value="Scan Finger"/>	
		</span>
		<span class="col-md-3" data-auth-url="{% url 'authenticate credential' %}">
			<button type="button" class="btn expand btn-primary modal-authenticate-btn">Submit</button>
		</span>
	</div>
</div>
<div id="edit-keypair-modal" class="invisible">
	<div class="body">
		<div style="font-weight: bold">Name:</div>
		<span class="edit-name" data-post-url="{% url 'edit keypair name' %}" data-field="name">
	  		<span class="editable-text">
		  	</span>
	  	</span>
	  	<hr style="clear:both;"/>
		<div style="font-weight: bold">PIN:</div>
		<span class="edit-pin" data-post-url="{% url 'edit keypair pin' %}"
			  data-field="pin">
		  	<span class="editable-text">
		  	</span>
	  	</span>
	  	<hr style="clear:both;"/>
	  	<div style="font-weight: bold">RFID UID:</div>
	  	<span class="edit-rfid" data-post-url="{% url 'edit keypair rfid' %}" data-scan-url="{% url 'scan rfid' %}"
	  		  data-field="rfid" data-target-textbox=".editing-text">
	  		<span class="editable-text">
	  		</span>
	  	</span>
	  	<hr style="clear:both;"/>
	  	<div style="font-weight: bold">Fingerprint:</div>
	  	<span class="edit-fingerprint" data-post-url="{% url 'edit keypair fingerprint' %}" data-scan-url="{% url 'scan fingerprint 3x' %}"
	  		  data-field="fingerprint" data-target-textbox=".editing-text">
	  		<span class="editable-text">
	  		</span>
		</span>
		<hr style="clear:both;"/>
	</div>
	<div class="footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
</div>

<!-- Content -->
<div class="tab-content">
	<div class="tab-pane" id="new-keypair">
		<br/><br/><br/>
		<div class="col-md-10 col-md-offset-1">
			<form class="form-horizontal" accept-charset="UTF-8" method="post" action="{% url 'add keypair' %}">
				<div class="form-group">
					<label for="name" class="col-md-2 control-label">Name</label>
					<div class="col-md-10">
						<input type="text" class="form-control required"
							   id="newName" name="name"
							   placeholder="John Smith" />
					</div>
				</div>
				<div class="form-group">
					<label for="doors" class="col-md-2 control-label">Doors</label>
					<div class="col-md-10" data-search-url="{% url 'search doors' %}">
						<input type="text" class="form-control"
							   id="newDoors" name="doors" placeholder="Enter door name."/>
					</div>
				</div>

				<div class="form-group">
					<label for="pin" class="col-md-2 control-label">PIN</label>
					<div class="col-md-10">
						<input type="password" class="form-control"
							   id="newPin" name="pin" 
							   placeholder="Enter numeric PIN, 4 characters minimum."/>
					</div>
				</div>
				<div class="form-group">
					<label for="rfid_uid" class="col-md-2 control-label">RFID UID</label>
					<div class="col-md-8">
						<input type="text" class="form-control required-rfid-fingerprint"
							   id="newRfid" name="rfid_uid"
							   placeholder="Scan for an RFID tag or paste the UID here." />
					</div>
					<div class="col-md-2" data-scan-url="{% url 'scan rfid' %}"
						 data-field="rfid" data-target-textbox="#newRfid">
						<input type="button" class="btn expand btn-success scan-new"
							   value="Scan RFID" />
					</div>
				</div>
				<div class="form-group">
					<label for="fingerprint_template" class="col-md-2 control-label">Fingerprint</label>
					<div class="col-md-8">
						<input type="text" class="form-control required-rfid-fingerprint"
							   id="newFinger" name="fingerprint_template"
							   placeholder="Scan for a finger or paste the template here." />
					</div>
					<div class="col-md-2" data-scan-url="{% url 'scan fingerprint 3x' %}"
						 data-field="fingerprint" data-target-textbox="#newFinger">
						<input type="button" class="btn expand btn-success scan-new"
							   value="Scan Finger"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button class="btn expand btn-primary signup-button" type="submit">
							Add to Keypairs
						</button>
					</div>
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<div class="tab-pane active" id="activated-keypairs">
		<div class="col-md-12">
			<br />
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Keypairs</b></h3>
					<div class="pull-right">
					</div>
				</div>
				<table id="keypairs-table" class="table table-hover tablesorter" data-sortList="[[0,0]]">
					<thead>
						<tr>
							<!-- <th class="col-md-1" data-placeholder="S..." data-tablesaw-priority="1">
								#
							</th> -->
							<th class="col-md-4" data-placeholder="Search...">
								Name
							</th>
							<th class="col-md-5" data-placeholder="Search...">
								Doors
							</th>
							<th class="col-md-1" data-placeholder="Y/N">
								<span class="glyphicon glyphicon-th mouseover-text" title="PIN"></span>
							</th>
							<th class="col-md-1" data-placeholder="Y/N">
								<span class="glyphicon glyphicon-credit-card mouseover-text" title="RFID UID"></span>
							</th>
							<th class="col-md-1" data-placeholder="Y/N">
								<span class="glyphicon glyphicon-hand-up mouseover-text" title="Fingerprint"></span>
							</th>
							<th class="col-md-3" data-placeholder="Search...">
								Last Edited By
							</th>
							<th class="col-md-5" data-placeholder="Search...">
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						{% for keypair in keypairs %}
						<tr>
							<!-- <td>{{ forloop.counter }}</td> -->

							<!-- Name -->
							<td id="name-{{ keypair.id }}"
								data-post-url="{% url 'edit keypair name' %}"
								data-field="name"
								data-id="{{ keypair.id }}" data-value="{{ keypair.name }}">

								<span>
									{{ keypair.name }}
								</span>
							</td>

							<!-- Doors -->
							<td data-search-url="{% url 'search doors' %}"
								data-link-url="{% url 'link door to keypair' %}"
								data-unlink-url="{% url 'unlink door from keypair' %}"
								data-field="doors"
								data-id="{{ keypair.id }}" data-value="{{ keypair.doors_json }}">
								
								<span class="editable-text">
									{% if keypair.doors_json %}
										{% for door in keypair.doors_json %}
										<li class="token-input-token-facebook">
											{{ door.name }}
										</li>
										{% endfor %}
									{% else %}
										- - -
									{% endif %}
								</span>
							</td>

							<!-- PIN -->
							<td>
								<span id="pin-{{ keypair.id }}">
									{% if keypair.pin %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<!-- RFID UID -->
							<td>
								<span id="rfid-{{ keypair.id }}">
									{% if keypair.rfid_uid %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<!-- Fingerprint -->
							<td>
								<span id="fingerprint-{{ keypair.id }}">
									{% if keypair.fingerprint_template %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<td>
								<div>
									{{ keypair.last_edited_by.username }}
								</div>
								<div class="small-text">
									{{ keypair.last_edited_on | date:"Y-m-d H:i"}}
								</div>
							</td>
							
							<!-- Actions -->
							<td id="action-{{ keypair.id }}" class="activated-action">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">

											<button class="btn expand btn-danger task-cancelbox keypair-deactivate-btn deactivate-btn">
												Deactivate
											</button>
									</div>
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">
											<button type="button" class="btn expand btn-primary task-edit edit-btn"
													data-toggle="modal" data-target="#edit-modal">
												Edit
											</button>
									</div>
								</div>
							</td>

							<td id="action-{{ keypair.id }}" class="deactivated-action invisible">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">
											<button class="btn expand btn-success task-cancelbox keypair-activate-btn activate-btn">
												Activate
											</button>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<!-- <button class="btn btn-primary col-md-2 col-md-offset-5" onclick="alert('haHA')">Download as PDF</button> -->
	</div>

	<div class="tab-pane" id="deactivated-keypairs">
		<div class="col-md-12">
			<br />
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Keypairs</b></h3>
					<div class="pull-right">
					</div>
				</div>
				<table id="deactivated-keypairs-table" class="table table-hover tablesorter" data-sortList="[[0,0]]">
					<thead>
						<tr>
							<!-- <th class="col-md-1" data-placeholder="S..." data-tablesaw-priority="1">
								#
							</th> -->
							<th class="col-md-4" data-placeholder="Search..." data-tablesaw-priority="persist">
								Name
							</th>
							<th class="col-md-5" data-placeholder="Search..." data-tablesaw-priority="2">
								Doors
							</th>
							<th class="col-md-1" data-placeholder="Y/N" data-tablesaw-priority="3">
								<span class="glyphicon glyphicon-th mouseover-text" title="PIN"></span>
							</th>
							<th class="col-md-1" data-placeholder="Y/N" data-tablesaw-priority="4">
								<span class="glyphicon glyphicon-credit-card mouseover-text" title="RFID UID"></span>
							</th>
							<th class="col-md-1" data-placeholder="Y/N" data-tablesaw-priority="5">
								<span class="glyphicon glyphicon-hand-up mouseover-text" title="Fingerprint"></span>
							</th>
							<th class="col-md-3" data-placeholder="Search..." data-tablesaw-priority="10">
								Last Edited By
							</th>
							<th class="col-md-5" data-placeholder="Search..." data-tablesaw-priority="7">
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						{% for keypair in deactivated_keypairs %}
						<tr>
							<!-- <td>{{ forloop.counter }}</td> -->

							<!-- Name -->
							<td id="name-{{ keypair.id }}"
								data-post-url="{% url 'edit keypair name' %}"
								data-field="name"
								data-id="{{ keypair.id }}" data-value="{{ keypair.name }}">

								<span>
									{{ keypair.name }}
								</span>
							</td>

							<!-- Doors -->
							<td data-search-url="{% url 'search doors' %}"
								data-link-url="{% url 'link door to keypair' %}"
								data-unlink-url="{% url 'unlink door from keypair' %}"
								data-field="doors"
								data-id="{{ keypair.id }}" data-value="{{ keypair.doors_json }}">
								
								<span class="editable-text">
									{% if keypair.doors_json %}
										{% for door in keypair.doors_json %}
										<li class="token-input-token-facebook">
											{{ door.name }}
										</li>
										{% endfor %}
									{% else %}
										- - -
									{% endif %}
								</span>
							</td>

							<!-- PIN -->
							<td>
								<span id="pin-{{ keypair.id }}">
									{% if keypair.pin %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<!-- RFID UID -->
							<td>

								<span id="rfid-{{ keypair.id }}">
									{% if keypair.rfid_uid %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<!-- Fingerprint -->
							<td>
								<span id="fingerprint-{{ keypair.id }}">
									{% if keypair.fingerprint_template %}
										<span class="glyphicon glyphicon-ok"></span>
										<span class="invisible">Yes</span>
									{% else %}
										<span class="invisible">No</span>
									{% endif %}
								</span>
							</td>

							<td>
								<div>
									{{ keypair.last_edited_by.username }}
								</div>
								<div class="small-text">
									{{ keypair.last_edited_on | date:"Y-m-d H:i"}}
								</div>
							</td>
							
							<!-- Actions -->
							<td id="action-{{ keypair.id }}" class="activated-action invisible">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">
											<button class="btn expand btn-danger task-cancelbox keypair-deactivate-btn deactivate-btn">
												Deactivate
											</button>
									</div>
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">
											<button type="button" class="btn expand btn-primary task-edit edit-btn"
													data-toggle="modal" data-target="#edit-modal">
												Edit
											</button>
									</div>
								</div>
							</td>
							
							<td id="action-{{ keypair.id }}" class="deactivated-action">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group"
										 data-post-url="{% url 'keypair toggle active' %}"
										 data-id="{{ keypair.id }}">
											<button class="btn expand btn-success task-cancelbox keypair-activate-btn activate-btn">
												Activate
											</button>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}