{% extends 'base.html' %}

{% block content%}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Logs</b></h3>
					<div class="pull-right">
					</div>
				</div>
				<table id="logs-table" class="table table-hover tablesorter" data-sortList="[[1,1]]">
					<thead>
						<tr>
							<th class="col-md-1" data-placeholder="S...">#</th>
							<th class="col-md-4" data-placeholder="Search...">Date</th>
							<th class="col-md-2" data-placeholder="Search...">Action</th>
							<th class="col-md-4" data-placeholder="Search...">Details</th>
							<th class="col-md-2" data-placeholder="Search...">PIN</th>
							<th class="col-md-2" data-placeholder="Search...">RFID UID</th>
						</tr>
					</thead>
					<tbody>
						{% if logs|length > 0 %}
							{% for log in logs %}
							<tr>
								<td>{{ log.id }}</td>
								<td>{{ log.created_on | date:"Y-m-d H:i:s" }}</td>
								<td>{{ log.action }}</td>
								<td>{{ log.details }}</td>
								<td>{{ log.pin }}</td>
								<td>{{ log.rfid_uid }}</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="5" style="text-align:center">No logs found.</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
