.signup-textbox{
	margin-top: 10px;
	padding: 5px;
}

.signup-button{
	margin-top: 15px;
	padding: 5px;
}

.textarea_new_item{
	margin-top: 3px;
	padding: 10px;
	resize: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

#logs-table td {
    border: 1px solid #62ABEA;
    border-right: none;
    border-bottom: none;
}

.list-btn{
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 3px;
}


#task-datepicker{
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.usertype-admin{
	cursor: default;
	border-bottom: 1px dotted black;
	padding: 2px;
}

.usertype-user{
	cursor: default;
	border-bottom: 1px dotted black;
	padding: 2px;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-error hr {
	border-top-color: #e4b9c0;
}
.alert-error .alert-link {
	color: #843534;
}
.list-btn{
	margin-bottom: 5px;
}

.editable-text{
	float: left;
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	max-width: 100%;
	padding: 2px;
	border-radius: 3px;
}
.editable-text:hover{
	border: 1px solid #ADADAD;
}

.editable-text, .editing-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.editable-done, .scan-edit-rfid, .scan-edit-fingerprint{
	display: inline-block;	
	padding-right: 4px;
	padding-left: 4px;
	top: -3px;
	position: relative;
	cursor: pointer;
}

.completed-check, .scan-edit-rfid, .scan-edit-fingerprint{
	position: relative;
	top: 3px;
	font-size: 20px;
	color: #60C739;
	padding-left: 3px;
}



.control-label{
	padding-top: 0px !important;
}
.greyed{
	color: #CCCCCC;
}
.redded{
	/*background-color: rgba(38, 166, 91, 0.2);*/
	font-weight: 500;
	color: #C0392B;
	/*border: 2px solid #26A65B;*/
}
.x-small-text{
	font-size: x-small;
}
.small-text{
	font-size: small;
}

.invisible{
	display: none;
}
